:root {
	--color-light: #f8f9fa;
	--color-white: #fff;
	--color-madium:  #e8e8e8;

	--spacing-small: 10px;
	--spacing-madium: 15px;
	--spacing-large: 30px;

	--border-radius: 5px;
	--linear-gradient: ... ;
	--box-shadow: 
	    0 16px 24px 2px rgba(33, 37, 41, .02),
	    0 6px 30px 5px rgba(33, 37, 41, .04),
	    0 8px 10px -5px rgba(33, 37, 41, .1);
}

* {
	box-sizing: border-box;
}

body {
	margin: 0;
	padding: 0;
	font-family: sans-serif;
	line-height: 1.5;
	background-color: var(--color-light);
}

.close-btn {
	position: absolute;
	top: 25px;
	right: 25px;
	width: 35px;
	height: 35px;
	background-image: url(../../assets/images/close.svg);
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center center;
	cursor: pointer;
}