.header-container {
	display: flex;
	height: 50px;
	padding: var(--spacing-samll);
	background-color: var(--color-madium);
}

.header-counter {
	margin-left: auto;
	padding-right: var(--spacing-samll);
	font-weight: bold;
	cursor: pointer;
}